#div1{ 
    
    display: flex;
    width: 1875px;
    height: 1000px;
    background-color: rgb(255, 221, 29);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;

}



  
